<div class="container-fluid mt-5" >
    <h4>Marvel Comics</h4>
    <div class="row">
      <div
        class="col-lg-3 mt-3 mb-3"
        *ngFor="let comic of allComics"
      >
        <div class="card">
          <img src="{{comic.thumbnail.path +'/standard_medium.'+comic.thumbnail.extension}}" width="100%" class="card-img-top" alt="Some Issue Loading Image..." />
          <div class="card-body">
            <h5 class="card-title">{{ comic.title}}</h5>  
          </div>
        </div>  
      </div>
    </div>
  
  </div>
  